body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #fcfcfc;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
}

/* .mobile {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #f7f7f7;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 20px;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border: 3px solid #2196f3;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 25px;
  font-size: 15px;
  font-weight: 400;
}
.input::placeholder {
  color: #dadada;
}



.inputChat {
  display: flex;
  flex-direction: "row";
  background-color: #DFE8FF;
  border: none;
  margin-right: 10px;
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
}

.sendBtnn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #5E79EB;
  border-radius: 15%;
  border-width: 3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomChat {
  position: sticky;
  bottom: 70px;
  right: 0px;
  padding: 12px;
  cursor: pointer;
  background-color: white;
}

.chatTitle {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
}

.fixTop {
  background-color: white;
  position: sticky;
  top: -10px;
  right: 0px;

  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgb(210, 210, 210);
  cursor: pointer;
}

.inOutMsg {
  font-size: 11px;
  color: #393939;
  background-color: #e9e9e9;
  border-radius: 13px;
  border: none;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  width: max-content;
}

.centerNoMsg {
  display: grid;
  place-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100dvh;
  font-size: 15px;
  text-align: center;
}